<<<<<<< HEAD
body {
=======
/* body {
>>>>>>> 8af6f743e2b9d3c63302284282c5226340156bf3
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD
}
=======
} */
>>>>>>> 8af6f743e2b9d3c63302284282c5226340156bf3
